.Carousel{
    height: 100vh;
}
.carousel-inner {
 background: black;
    height: 77vh;
}

.bg_image {
    opacity: 0.3;
    min-width: 100%;
    height: auto;
}

.carousel-caption {
    bottom: 30%;
    top:30%;
}

.leftContent {
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    color: #fff;
    text-align: center;
    width:70%;
}

.leftContent h3 {
 text-align: left;
}


.leftContent  p{
    text-align: left;
}


