.MainContent {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 90vh;
    display: flex;
}
.MainCon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
}
.left {
    height: 100%;
    flex: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    color: white;
}
.left h1{
    padding: 1.8rem 0;
}

.btns-con{
    margin-top: 3rem;

}
.btns-con a{
    text-decoration: none;
    color: white;

}

.btns-con a:link{
    text-decoration: none;
    color: white;
}



.right {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

@media only screen and (max-width: 1300px){
    .main_bg {
        visibility: collapse;

    }
    .left {
        margin-left: 87px;
    }
}

@media only screen and (max-width: 962px){
    .main_bg {
        display: none;
    }
    .left{
        margin-left: 87px;
    }
}
@media only screen and (max-width: 800px){
    .main_bg {
        display: none;
    }
    .left{
        margin-left: 87px;
    }
}


@media only screen and (max-width: 700px){
    .main_bg {
        display: none;
    }
    .left{
        margin-left: 87px;
    }
}


@media only screen and (max-width: 600px){
    .right {
        display: block;
    }
    .main_bg {
        display: none;
    }
    .left{
        margin-left: 87px;
    }
}

@media only screen and (max-width: 300px){
    .right {
        display: none;
    }
    .left{
        margin: 22px;
    }
    .MainCon{
        display: flex;
    }
}